


<%if current_user%>

 <div id="wrapper" class="container row">
    
    
    
    
    <div id="comments" class="comments">
     <% @comments.each do |comment| %>
    
     <div class="col-9 offset-3 ">
      <div class="comment-wrap">
      
            <div class="photo">
                <div class="avatar" style="background-image: url('http://res.cloudinary.com/yemiwebby-com-ng/image/upload/v1525202285/avatar_xcah9z.svg')"></div>
            </div>        
            <div class="comment-block bg-success border border-success">
            <p class="show text-center   border border-success"style="padding-top:0px"> <bold class="text-sucess"> <strong><%= comment.user.email.split('@')[0].capitalize %></strong></bold></p>
                <p class="comment-text"><%= content_with_emoji(comment.message) %></p>
                <p class="show"><%= comment.created_at %></p>
                <div class="bottom-comment">
                   <ul class="comment-actions">
                       
                    </ul>
                </div>
            </div>
      </div>
    </div>

   
    <% end %>
    </div>

    
    <div style="padding-left:20%" class='col-9  col-sm-12'>
    <center>
      <%= render 'form', comment: @comment %>
      </center>
    </div>

    </div>


 <% end %>